<div class="container">
<br>
	<div class= "row"> 
	<div  class="col-md-12"> 
		
		<form data-ng-submit="recherche()" name="myForm">
			<div class= "row"> 
					<div  class="col-md-10">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-warning" type="button" data-ng-click="gps()"> GPS </button>
								</span> 
								<input type="search" name="city" ng-model="city" required ng-minlength="3" ng-maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
					{{errorMsg}}
					<div  class="col-md-2">
						<span class="input-group-btn">
						<!-- l’attribut ng-disabled rendra cliquable le bouton “rechercher” seulement si le champ de saisie est correctement rempli -->
							<button class="btn btn-primary" type="submit"  ng-disabled=" !myForm.$valid"> 
								Recherche
							</button>
						</span>
					</div>
			</div>
		</form>
		<div ng-messages="myForm.city.$error" style="color:maroon" role="alert">
			<div ng-message="minlength" class="label  label-danger">text trop court  </div>
				<div ng-message="maxlength" class="label  label-danger">text trop long </div>
			</div>
		</div>
		<div ng-show="meteo">
			<div class= "row">
				<div class="text-center">
					<table class="table" class="text-center">
						<tr>
							<td>
								<span> <h2> {{meteo.name}} </h2></span><br>
							</td>
						</tr>
						<td class="center">
							<img ng-src="https://openweathermap.org/img/w/{{meteo.weather[0].icon}}.png">
						</td>
						<tr>
							<td>	
								<span>{{meteo.main.temp}}°</span>
							</td>
						</tr>
						<tr>
							<td>
								<h3> weather</h3>
								{{meteo.weather[0].description}}
							</td>
						</tr>
						<td>
							{{meteo.country}}
						</td>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-md-offset-3 col-md-9">
						<img  ng-src="https://maps.googleapis.com/maps/api/staticmap?markers={{meteo.coord.lat}},{{meteo.coord.lon}}&size=640x400&zoom=5" id="googleMarker"/>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="forecast">
			<h1> forecasts</h1>
			<div class= "row">
				<table class="table">
					<tr >
						<td class="center">
							<span> city : {{ forecast.city.name}}</span>
						</td>
					</tr>
					<tr ng-repeat ="list in forecast.list">
						<td class="center">
							<img src="https://openweathermap.org/img/w/{{list.weather[0].icon }}.png" > <span>  {{ list.main.temp}}°</span>
						</td>
						<td class="center">
							<span> date : {{ list.dt_txt}}</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
		</div>
	</div>
</div>