#error {
        background-color :pink;
        padding: 5px;
        border: solid 1px black;
        display: none;
    }

    #resultat {
        background: green;
        padding: 5px;
        color: white;
        display: none;
    }
   
    table {   
        background-color: white;
        border-collapse: collapse;
        border:1px solid black;
        width:50%;
        margin-left:300px;
        margin-right:50px;
    }
   
    body {   
        background-color: Grey;
    }